.btn-main {
    background: $color-important !important;
    border: none !important;
    color: black !important;
}

.btn-material {
    background: $color-main !important;
    border: none !important;
    color: white !important;
}

.btn-other {
    background: $color-accent !important;
    border: none !important;
}

.btn-download {
    position: absolute;
    bottom: 10px;
    right: 20px;
    transition: .5s;
}