.btn-main {
    background: $color-important !important;
    border: none !important;
    color: black !important;
}

.btn-other {
    background: $color-accent !important;
    border: none !important;
}