main {
    height: 100vh;
    width: 100%;
    .nav-bar {
        background: $color-main;
        @include font2;
        &-subject-choosed {
            @media (max-width: 700px) {
                height: 10vh !important;
                transition: .5s;
                h1, h2, div {
                    display: none !important;
                }
            }
        }
        &-collapsed-info {
            @media (min-width: 700px) {
                display: none !important;
            }
        }
    }
    .content {
        background: $color-secondary;
        @media (max-width: 700px) {
            min-height: 90vh !important;
            height: auto !important;
            padding: 1.5rem 0;
        }
        @media (max-width: 700px) {
            display: none;
        }
    }
    .logo {
        &-small {
            @media (min-width: 701px) {
                font-size: 1.4rem;
            }
            @media (min-width: 1250px) {
                font-size: 2.8rem;
            }
            @media (min-width: 1550px) {
                font-size: 3rem;
            }
        }
        &-large {
            @media (min-width: 701px) {
                font-size: 3.2rem;
            }
            @media (min-width: 1250px) {
                font-size: 5.5rem;
            }
            @media (min-width: 1550px) {
                font-size: 7rem;
            }
        }
    }
    h2 {
        @media (min-width: 701px) {
            font-size: 1.2rem;
        }
        @media (min-width: 1250px) {
            font-size: 1.5rem;
        }
        @media (min-width: 1550px) {
            font-size: 1.8rem;
        }
    }
    .site-description {
        font-size: 1.3rem;
    }
    .class-buttons {
        .btn {
            margin-top: .5rem;
        }
    }
    .subjects {
        .btn {
            margin-top: .5rem;
        }
    }
    .materials {
        .btn {
            margin-top: .5rem;
            margin-left: .5rem;
            @media (min-width: 700px) {
                font-size: 1.6rem;
            }
            @include font2
        }
    }
    #c-2-books {
        img {
            border-radius: 10px;
            margin: 0 .4rem;
        }
    }
}