main {
    height: 100vh;
    width: 100%;
    .nav-bar {
        background: $color-main;
        @include font2;
    }
    .content {
        background: $color-secondary;
    }
    .logo {
        &-small {
            font-size: 3rem;
        }
        &-large {
            font-size: 7rem;
        }
    }
    h2 {
        font-size: 1.8rem;
    }
    .site-description {
        font-size: 1.3rem;
    }
    .subjects {
        .btn {
            margin-top: .5rem;
        }
    }
}